@import url(https://allfont.es/allfont.css?fonts=ringbearer-medium);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background: url(../imagenes/mapaTLOU.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.title{
    color: #F2B749;
    font-family: 'Ringbearer Medium';
    text-align: center;
    
    

}

.title2{
    color: black;
    font-family: 'Ringbearer Medium';
    text-align: center;
}

.fellowship{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    object-fit: 10px;

    

}

.twoTowers{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.returnKing{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.unexpected{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.desolation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.fiveArmies{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}